/* Main */
:root{
  --logo-padding:25px;
  --navbar-font:30px;
  --img-side:90px;
  --img-pad:15px;
  --logo-h:500px;
  --navbar-h:calc(var(--navbar-font) + calc(var(--img-pad) * 2));
  --dkGreen:#31B240;
  --dkBlue:#14A5A5;
  --white:#ffffff;
  --green:#59D167;
  --black:#333333;
  --gray:#4f4f4f;
  --blue:#6AEDED;
}
body{
  background-color:var(--white);
  color:var(--black);
  overflow-x:hidden;
  font-size:18px;
}

/* Content and content boxes */
.content{
  position:absolute;
  top:calc(var(--navbar-h) + var(--logo-padding));
  width:100%;
  left:0;
}
.content-box{
  box-shadow:-2px 2px var(--dkBlue);
  border:solid 2px var(--dkBlue);
  padding:0 30px 20px 30px;
  background-color:white;
  font-family:sans-serif;
  margin:auto;
  margin-bottom:250px;
  position:relative;
  color:var(--black);
  width:70%;
}
.content-box .content-icon{
  --radius:40px;
  left:calc(var(--radius) + 42px);
  top:calc(-1 * var(--radius) - 12px);
  height:calc(var(--radius) * 2);
  border:solid 12px var(--green);
  width:calc(var(--radius) * 2);
  background-color:white;
  border-radius:100%;
  position:relative;
  float:right;
  padding:3px;
}
.content-box h1{
  display:inline-block;
  color:var(--green);
  font-weight:bold;
  font-size:40px;
}
.content-box h2{
  color:var(--black);
  font-weight:bold;
}
.content-box .icon{
  height:100px;
  width:auto;
}
.content-box a{
  transition:color 0.2s ease;
  text-decoration:none;
  color:var(--dkBlue);
}
.content-box a:hover{
  color:var(--blue);
}
.content-box table{
  text-align:center;
}
.content-box td{
  padding:0 15px;
}
/*.content-box .sponsor{
  margin-bottom:25px;
  margin-right:50px;
  height:100px;
  width:auto;
}*/

/* Footer */
.footer img{
  transform:translateY(4px);
}
.footer .signature{
  font-family:sans-serif;
  background-color:var(--black);
  color:var(--white);
  text-align:center;
  font-weight:bold;
  font-size:18px;
  padding:5px;
  width:100%;
  left:0;
}
.footer img{
  width:100%;
}
.footer a{
  transition:color 0.2s ease;
  text-decoration:none;
  color:var(--blue);
}
.footer a:hover{
  color:var(--dkBlue);
}
