<h1>Pick a registration:</h1>
<a href="https://docs.google.com/forms/d/1yuCPTJfPINwEN4dohLnk4i5j21qc5TzzT3Jrpg3bd44">Hacker</a>
<a href="https://docs.google.com/forms/d/1tumM3dsXz6F6Ki3CtrzYGBnnQR5rpXJL5GvHv5NdBws">Volunteer</a>

<style>

.register{
  margin-bottom:75px;
  text-align:center;
}
h1{
  font-family:sans-serif;
  color:var(--green);
  font-weight:bold;
  font-size:40px;
}
a{
  margin:0px 60px;
  transition:background-color 0.2s ease;
  background-color:var(--green);
  font-family:sans-serif;
  text-decoration:none;
  display:inline-block;
  border-radius:25px;
  font-weight:bold;
  cursor:pointer;
  font-size:50px;
  padding:20px;
  color:white;
}
a:hover{
  background-color:var(--dkGreen);
}
</style>
