<table>
  <tr>
    <td>
      <a href="https://twitter.com/_EqualsEquals">
        <img src="images/twitter.svg" title="Twitter">
      </a>
    </td>
    <td>
      <a href="https://www.facebook.com/equalsequalshackathon/">
        <img src="images/facebook.svg" title="Facebook">
      </a>
    </td>
    <td>
      <a href="https://www.instagram.com/_equalsequals/">
        <img src="images/instagram.svg" title="Instagram">
      </a>
    </td>
    <td>
      <a href="mailto:hackequalsequals@gmail.com">
        <img src="images/email.svg" title="Email">
      </a>
    </td>
  </tr>
</table>

<style>

.social-media{
  text-align:center;
}
table{
  width:100%;
}
img{
  height:auto;
  width:75px;
}

</style>
