/* .content and .content-box */
.content{
  position:absolute;
  top:calc(var(--navbar-h) + var(--logo-padding));
  width:100%;
  left:0;
}
.content-box{
  position:relative;
  background-color:white;
  color:var(--gray);
  font-family:sans-serif;
  width:70%;
  margin:auto;
  margin-bottom:250px;
  padding:0 30px 20px 30px;
  box-shadow:-2px 2px var(--dkBlue);
  border:solid 2px var(--dkBlue);
}

/* .register button */
/*.register{
  display:inline-block;
  transition:background-color 0.2s ease;
  background-color:var(--green);
  border-radius:25px;
  padding:20px;
  margin:auto;
  margin-bottom:50px;
  cursor:pointer;
  font-family:sans-serif;
  text-decoration:none;
  font-weight:bold;
  font-size:50px;
  color:white;
}
.register:hover{
  background-color:var(--dkGreen);
}*/

/* .content-box general children */
.content-box .content-icon{
  --radius:40px;
  float:right;
  position:relative;
  left:calc(var(--radius) + 42px);
  top:calc(-1 * var(--radius) - 12px);
  height:calc(var(--radius) * 2);
  width:calc(var(--radius) * 2);
  border:solid 12px var(--green);
  background-color:white;
  border-radius:100%;
  padding:3px;
}
.content-box h1{
  display:inline-block;
  color:var(--green);
  font-weight:bold;
  font-size:40px;
}
.content-box h2{
  color:var(--gray);
  font-weight:bold;
  margin-top:0;
}
.content-box .icon{
  height:100px;
  width:auto;
}
.content-box a{
  transition:color 0.2s ease;
  text-decoration:none;
  color:var(--dkBlue);
}
.content-box a:hover{
  color:var(--blue);
}

/* .content-box special children */
.content-box table{
  text-align:center;
}
.content-box td{
  padding:0 15px;
}
.content-box .sponsor{
  margin-bottom:25px;
  margin-right:50px;
  height:100px;
  width:auto;
}
