:root{
  /* Structure */
  --logo-h:500px;
  --logo-padding:75px;
  --img-side:90px;
  --img-pad:15px;
  --navbar-font:30px;
  --navbar-h:calc(var(--navbar-font) + calc(var(--img-pad) * 2));

  /* Colors */
  --gray:#4f4f4f;
  --white:#f7f7f7;
  --green:#59D167;
  --dkGreen:#31B240;
  --blue:#6AEDED;
  --dkBlue:#14A5A5;
}

body{
  background-color:var(--white);
  overflow-x:hidden;
}
@font-face{
  font-family:Catamaran;
  src:url("catamaran.woff2");
}
